.small__card__container {
  /* border: 5px solid blue; */
  width: 600px;
}

.small__card__content {
  display: flex;
  flex-direction: row;
}
.small__card__image > a > img {
  min-width: 200px;
  width: 200px;
  height: 125px;
  margin-right: 20px;
  transition: transform 0.2s;
  border: 0.01px solid #12121200;
  border-radius: 5px;
}

.small__card__image > a > img:hover {
  min-width: 200px;
  width: 200px;
  height: 125px;
  margin-right: 20px;
  transform: scale(1.05);
}

.small__card__title > h1 {
  font-size: 25px;


}

.small__card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_card_hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
