.content__container {

  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin: auto;
  text-align: justify;
}



.content__cover > img {
  width: 500px;
  min-width: 500px;
  height: 450px;
  min-height: 250px;
  border: 5px solid black;
  border-radius: 12px;
}

.content__description {
  margin-top: 15px;
}
.content__description__text {
  color: rgb(148, 148, 148);
}
