<app-menu-title></app-menu-title>
<p class="articles_type">Tecnologia</p>
<div class="articles">
<div class="articles__main">

<app-big-card
bigphotoCover="https://i.imgur.com/iE0brtw.png"
bigcardTitle='Trilha Full-Stack da residência RESTIC36 – CEPEDI'
bigcardDescription="A Residência em TIC 36 - Empreendedorismo + Bahia + Tecnologia é um programa inovador de capacitação focado em formar profissionais em TIC com habilidades empreendedoras. A trilha de Desenvolvimento Full-Stack oferece 100 vagas e capacita os participantes para criar aplicações web completas, desde o front-end até o back-end, preparando-os para liderar no desenvolvimento de soluções tecnológicas​ [...]"
Id="1">

</app-big-card>


</div>

<div class="articles__others">
  <app-small-card
  smallcardPhoto="https://i.imgur.com/Llip2Py.png"
  smallcardTitle="CrowdStrike e Microsoft: o que causou o apagão? "
  Id="2"></app-small-card>
  <app-small-card
  smallcardPhoto="https://i.imgur.com/pATk82A.png"
  smallcardTitle="Entre Dados e Destino: A Revolução da Inteligência Artificial na Encruzilhada Humana"
  Id="3"></app-small-card>
  <app-small-card
  smallcardPhoto="https://i.imgur.com/zBtuzGM.png"
  smallcardTitle="Como a Computação Transforma o Mundo Moderno"
  Id="4"></app-small-card>
</div>


</div>

  
