<div class = "menu__bar__container">
<ul>


  <li class="menu_item">
    <img src="../../../assets/icone_email.png" alt="" srcset="" class="menu_img">
    <a href="mailto:riquelmyor@gmail.com" class="menu_text" target="_blank">E-mail</a>
    </li>




<li class="dot"><span>•</span></li>

<li class="menu_item">
  <img src="../../../assets/icone_linkedin.png" alt="" srcset="" class="menu_img">
  <a href="https://www.linkedin.com/in/riquelmy-oliveira" target="_blank" class="menu_text">Linkedin</a>
</li>

<li class="dot"><span>•</span></li>

<li class="menu_item">
<img src="../../../assets/icone_github.webp" alt="" srcset="" class="menu_img">
<a href="https://github.com/riquelmy" target="_blank" class="menu_text">Github</a>
</li>

<li class="menu_item">
  <a [routerLink]="['content', '0']" class="menu_text">Sobre</a>
</li>

</ul>
</div>
