.menu__bar__container > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  border: 1px solid black;
  border-radius: 10px;

}

.dot > span {
  background: black;

}

.menu_item {
  display: flex;
  justify-content: center;


}
.menu_item > img {

  width: 25px;
  height: 25px;
  margin-right: 10px;

}


.menu__bar__container > ul > li {
  margin: 10px;
  list-style-type: none;

}

.menu_item {
  border: 3px solid black;
  background: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 15px;
}



.menu_item > a, .menu_item > img {
  background: black;
}

/* .menu_item > a:hover {
  background-color: blue;
  border-radius: 1px solid blue;
} */

.menu_item:hover{
  background: grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 15px;

}

.menu_item:hover .menu_img,
.menu_item:hover .menu_text {
  background-color: grey;
}

